---
http_interactions:
- request:
    method: post
    uri: https://login.microsoftonline.com/AZURE_TENANT_ID/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials&client_id=AZURE_CLIENT_ID&client_secret=AZURE_CLIENT_SECRET&resource=https%3A%2F%2Fmanagement.azure.com%2F
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"token_type":"Bearer","expires_in":"3599","ext_expires_in":"0","expires_on":"1523017630","not_before":"1523013730","resource":"https://management.azure.com/","access_token":"eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6IkZTaW11RnJGTm9DMHNKWEdtdjEzbk5aY2VEYyIsImtpZCI6IkZTaW11RnJGTm9DMHNKWEdtdjEzbk5aY2VEYyJ9.eyJhdWQiOiJodHRwczovL21hbmFnZW1lbnQuYXp1cmUuY29tLyIsImlzcyI6Imh0dHBzOi8vc3RzLndpbmRvd3MubmV0Lzc3ZWNlZmI2LWNmZjAtNGU4ZC1hNDQ2LTc1N2E2OWNiOTQ4NS8iLCJpYXQiOjE1MjMwMTM3MzAsIm5iZiI6MTUyMzAxMzczMCwiZXhwIjoxNTIzMDE3NjMwLCJhaW8iOiJZMk5nWURqM2ErY1JZODRiQ3c0NGYyVDdzRnBtSGdBPSIsImFwcGlkIjoiZmMxYzIyMjUtMDY1Zi00YmE4LTgzZDktZDg2NjYyZjU3OGFmIiwiYXBwaWRhY3IiOiIxIiwiZ3JvdXBzIjpbIjQwNzM4OTg2LTNjODItNGNmMS05OWZjLTEzNDU3ZTMzMzJmYyIsIjBkMDE0M2VhLTMzOWUtNDJlMC1hMjRlLWI1YThmYzY5ZmYxNCIsImQ2NWYyZTVkLWZiZmItNDE1My04NmIyLTU5NzliNGU2YjU5MiJdLCJpZHAiOiJodHRwczovL3N0cy53aW5kb3dzLm5ldC83N2VjZWZiNi1jZmYwLTRlOGQtYTQ0Ni03NTdhNjljYjk0ODUvIiwib2lkIjoiMzA2ZWI0MmEtMzU4NS00YTM3LTk1YjctMzhiYzBlOTgyOGQyIiwic3ViIjoiMzA2ZWI0MmEtMzU4NS00YTM3LTk1YjctMzhiYzBlOTgyOGQyIiwidGlkIjoiNzdlY2VmYjYtY2ZmMC00ZThkLWE0NDYtNzU3YTY5Y2I5NDg1IiwidXRpIjoieUNKZmo4REFGa1dZYkJ1ZnlQQU5BQSIsInZlciI6IjEuMCJ9.rgVCuEzDDGgIcdn8VtkL7T2WNojtlXwxS7QduQrG4MvTt9Fb-9n-pi6OUaDJjbfYIRK3d9bK4DkHsxFM-HqfxgBoIc9G9Y2pfI98cigMWHhVcl2R8lJmLBXElb5VWCfNfH5aSCM5qgUZHKcpInaeVPIiFm8wDwvAkG_AaJY8K_pWo5QOclnQbZK6XHZh0z4qQ_7_l7AYudS0h68Bl4axxNQDz7M1G-H38mB5qxV73fB5AJhwlR7WQu_kA-RoAYeoXn9lYQaVsupXDgmQd4ghHanswZ0EyiFwj6mMHS_45nVMkGZPuYwnkeJtBS8liD3rMflxyPJTfPyPh0hVK-ESOQ"}'
  recorded_at: Fri, 06 Apr 2018 11:27:10 GMT
- request:
    method: get
    uri: https://management.azure.com/subscriptions?api-version=2016-06-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6IkZTaW11RnJGTm9DMHNKWEdtdjEzbk5aY2VEYyIsImtpZCI6IkZTaW11RnJGTm9DMHNKWEdtdjEzbk5aY2VEYyJ9.eyJhdWQiOiJodHRwczovL21hbmFnZW1lbnQuYXp1cmUuY29tLyIsImlzcyI6Imh0dHBzOi8vc3RzLndpbmRvd3MubmV0Lzc3ZWNlZmI2LWNmZjAtNGU4ZC1hNDQ2LTc1N2E2OWNiOTQ4NS8iLCJpYXQiOjE1MjMwMTM3MzAsIm5iZiI6MTUyMzAxMzczMCwiZXhwIjoxNTIzMDE3NjMwLCJhaW8iOiJZMk5nWURqM2ErY1JZODRiQ3c0NGYyVDdzRnBtSGdBPSIsImFwcGlkIjoiZmMxYzIyMjUtMDY1Zi00YmE4LTgzZDktZDg2NjYyZjU3OGFmIiwiYXBwaWRhY3IiOiIxIiwiZ3JvdXBzIjpbIjQwNzM4OTg2LTNjODItNGNmMS05OWZjLTEzNDU3ZTMzMzJmYyIsIjBkMDE0M2VhLTMzOWUtNDJlMC1hMjRlLWI1YThmYzY5ZmYxNCIsImQ2NWYyZTVkLWZiZmItNDE1My04NmIyLTU5NzliNGU2YjU5MiJdLCJpZHAiOiJodHRwczovL3N0cy53aW5kb3dzLm5ldC83N2VjZWZiNi1jZmYwLTRlOGQtYTQ0Ni03NTdhNjljYjk0ODUvIiwib2lkIjoiMzA2ZWI0MmEtMzU4NS00YTM3LTk1YjctMzhiYzBlOTgyOGQyIiwic3ViIjoiMzA2ZWI0MmEtMzU4NS00YTM3LTk1YjctMzhiYzBlOTgyOGQyIiwidGlkIjoiNzdlY2VmYjYtY2ZmMC00ZThkLWE0NDYtNzU3YTY5Y2I5NDg1IiwidXRpIjoieUNKZmo4REFGa1dZYkJ1ZnlQQU5BQSIsInZlciI6IjEuMCJ9.rgVCuEzDDGgIcdn8VtkL7T2WNojtlXwxS7QduQrG4MvTt9Fb-9n-pi6OUaDJjbfYIRK3d9bK4DkHsxFM-HqfxgBoIc9G9Y2pfI98cigMWHhVcl2R8lJmLBXElb5VWCfNfH5aSCM5qgUZHKcpInaeVPIiFm8wDwvAkG_AaJY8K_pWo5QOclnQbZK6XHZh0z4qQ_7_l7AYudS0h68Bl4axxNQDz7M1G-H38mB5qxV73fB5AJhwlR7WQu_kA-RoAYeoXn9lYQaVsupXDgmQd4ghHanswZ0EyiFwj6mMHS_45nVMkGZPuYwnkeJtBS8liD3rMflxyPJTfPyPh0hVK-ESOQ
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ms-Ratelimit-Remaining-Tenant-Reads:
      - '14998'
    body:
      encoding: ASCII-8BIT
      string: '{"value":[{"id":"/subscriptions/7be814a0-2a8a-4798-ac8f-304eda9d56f3","subscriptionId":"7be814a0-2a8a-4798-ac8f-304eda9d56f3","displayName":"New
        Azure Sponsorship","state":"Enabled","subscriptionPolicies":{"locationPlacementId":"Public_2014-09-01","quotaId":"Sponsored_2016-01-01","spendingLimit":"Off"},"authorizationSource":"RoleBased"},{"id":"/subscriptions/AZURE_SUBSCRIPTION_ID","subscriptionId":"AZURE_SUBSCRIPTION_ID","displayName":"Microsoft
        Azure Sponsorship","state":"Enabled","subscriptionPolicies":{"locationPlacementId":"Public_2014-09-01","quotaId":"PayAsYouGo_2014-09-01","spendingLimit":"Off"},"authorizationSource":"RoleBased"}]}'
  recorded_at: Fri, 06 Apr 2018 11:27:11 GMT
- request:
    method: get
    uri: https://management.azure.com/subscriptions/AZURE_SUBSCRIPTION_ID/providers?api-version=2015-01-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6IkZTaW11RnJGTm9DMHNKWEdtdjEzbk5aY2VEYyIsImtpZCI6IkZTaW11RnJGTm9DMHNKWEdtdjEzbk5aY2VEYyJ9.eyJhdWQiOiJodHRwczovL21hbmFnZW1lbnQuYXp1cmUuY29tLyIsImlzcyI6Imh0dHBzOi8vc3RzLndpbmRvd3M[...]
- request:
    method: get
    uri: https://management.azure.com/subscriptions/AZURE_SUBSCRIPTION_ID/providers/Microsoft.Storage/storageAccounts?api-version=2017-10-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6IkZTaW11RnJGTm9DMHNKWEdtdjEzbk5aY2VEYyIsImtpZCI6IkZTaW11RnJGTm9DMHNKWEdtdjEzbk5aY2VEYyJ9.eyJhdWQiOiJodHRwczovL21hbmFnZW1lbnQuYXp1cmUuY29tLyIsI[...]
- request:
    method: post
    uri: https://management.azure.com/subscriptions/AZURE_SUBSCRIPTION_ID/resourceGroups/miq-azure-test1/providers/Microsoft.Storage/storageAccounts/miqazuretest18686/listKeys?api-version=2017-10-01
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6IkZTaW11RnJGTm9DMHNKWEdtdjEzbk5aY2VEYyIsImtpZCI6IkZTaW11RnJGTm9DMHNKWEdtdjEzbk5aY[...]
- request:
    method: get
    uri: https://miqazuretest18686.blob.core.windows.net/?comp=list
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - ''
      X-Ms-Date:
      - Fri, 06 Apr 2018 11:27:15 GMT
      X-Ms-Version:
      - '2016-05-31'
      Auth-String:
      - 'true'
      Authorization:
      - SharedKey miqazuretest18686:fcGhSiPj/L3iYGSS1mcO5BI0nv81i0YOMPJ9XkpwHKw=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml
      X-Ms-Version:
      - '2016-05-31'
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        77u/PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48RW51bWVyYXRpb25SZXN1bHRzIFNlcnZpY2VFbmRwb2ludD0iaHR0cHM6Ly9taXFhenVyZXRlc3QxODY4Ni5ibG9iLmNvcmUud2luZG93cy5uZXQvIj48Q29udGFpbmVycz48Q29udGFpbmVyPjxOYW1lPmJvb3RkaWFnbm9zdGljcy1taXF0ZXN0cmgtMDNlODQ2N2ItYmFhYi00ODY3LTljYzQtMTU3MzM2YjdlMmU0PC9OYW1lPjxQcm9wZXJ0aWVzPjxMYXN0LU1vZGlmaWVkPkZyaSwgMTggTWFyIDIwMTYgMTc6MjM6MjggR01UPC9MYXN0LU1vZGlmaWVkPjxFdGFnPiIweDhEMzRGNTIwNTFCRENDMCI8L0V0YWc+PExlYXNlU3RhdHVzPnVubG9ja2VkPC9MZWFzZVN0YXR1cz48TGVhc2VTdGF0ZT5hdmFpbGFibGU8L0xlYXNlU3RhdGU+PC9Qcm9wZXJ0aWVzPjwvQ29udGFpbmVyPjxDb250YWluZXI+PE5hbWU+dmhkczwvTmFtZT48UHJvcGVydGllcz48TGFzdC1Nb2RpZmllZD5GcmksIDE4IE1hciAyMDE2IDE3OjIzOjI4IEdNVDwvTGFzdC1Nb2RpZmllZD48RXRhZz4iMHg4RDM0RjUyMDU0RDgwMDUiPC9FdGFnPjxMZWFzZVN0YXR1cz5sb2NrZWQ8L0xlYXNlU3RhdHVzPjxMZWFzZVN0YXRlPmxlYXNlZDwvTGVhc2VTdGF0ZT48TGVhc2VEdXJhdGlvbj5pbmZpbml0ZTwvTGVhc2VEdXJhdGlvbj48L1Byb3BlcnRpZXM+PC9Db250YWluZXI+PC9Db250YWluZXJzPjxOZXh0TWFya2VyIC8+PC9FbnVtZXJhdGlvblJlc3VsdHM+
  recorded_at: Fri, 06 Apr 2018 11:27:16 GMT
- request:
    method: get
    uri: https://miqazuretest18686.blob.core.windows.net/vhds?comp=list&restype=container
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - ''
      X-Ms-Date:
      - Fri, 06 Apr 2018 11:27:16 GMT
      X-Ms-Version:
      - '2016-05-31'
      Auth-String:
      - 'true'
      Authorization:
      - SharedKey miqazuretest18686:vbH/jljRqLEDS/ZTb8rDtRCIzqfpeYveZco9CTwfZK8=
  response:
    status:
      code: 200
      message: [...]
[...]
- request:
    method: get
    uri: https://miqazuretest14047.blob.core.windows.net/copies?comp=list&restype=container
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - ''
      X-Ms-Date:
      - Fri, 06 Apr 2018 11:27:17 GMT
      X-Ms-Version:
      - '2016-05-31'
      Auth-String:
      - 'true'
      Authorization:
      - SharedKey miqazuretest14047:fsVpTf+vrKvFBJifjc3gqvq3w1nwn1iyd9ZqFl0KiuY=
  response:
    status:
      code: 200
      message[...]
- request:
    method: get
    uri: https://miqazuretest14047.blob.core.windows.net/manageiq?comp=list&restype=container
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - ''
      X-Ms-Date:
      - Fri, 06 Apr 2018 11:27:17 GMT
      X-Ms-Version:
      - '2016-05-31'
      Auth-String:
      - 'true'
      Authorization:
      - SharedKey miqazuretest14047:djc0VIqxRkHkn18EEBQMM5OyAsY+mt07igpncgOrC6A=
  response:
    status:
      code: 200
      messa[...]
- request:
    method: head
    uri: https://miqazuretest14047.blob.core.windows.net/manageiq/azdmu0004_9c7060bb-27f9-4f90-b785-e189716269f8.vhd
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - ''
      X-Ms-Date:
      - Fri, 06 Apr 2018 11:27:19 GMT
      X-Ms-Version:
      - '2016-05-31'
      Auth-String:
      - 'true'
      Verb:
      - HEAD
      Authorization:
      - SharedKey miqazuretest14047:VY2eGv/Hu3dHBud0KkTzWOg2NqnFUruZHQh0cqZEIcI=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/octet-stream
      Content-Md5:
      - VbYhW9/6NOXzQVK/vQkdvg==
      Last-Modified:
      - Tue, 27 Sep 2016 18:35:25 GMT
      Etag:
      - '"0x8D3E7050BF5642D"'
      X-Ms-Version:
      - '2016-05-31'
      X-Ms-Lease-Status:
      - unlocked
      X-Ms-Lease-State:
      - available
      X-Ms-Blob-Type:
      - PageBlob
      X-Ms-Blob-Sequence-Number:
      - '4'
      X-Ms-Copy-Id:
      - eec4aa1a-8583-476b-83f4-a4eacf9f4472
      X-Ms-Copy-Source:
      - https://miqazuretest14047.blob.core.windows.net/system/Microsoft.Compute/Images/miq-test-container/test-win2k12-img-osDisk.e17a95b0-f4fb-4196-93c5-0c8be7d5c536.vhd?sv=2014-02-14&sr=b&sk=system-1&sig=5Gh8F9hiPimv8f%2BVGFene145jChHlOuuNzzCF6STBFI%3D&se=9999-01-01T00%3A00%3A00Z&sp=rw
      X-Ms-Copy-Status:
      - success
      X-Ms-Copy-Progress:
      - 136367309312/136367309312
      X-Ms-Copy-Completion-Time:
      - Thu, 22 Sep 2016 17:13:19 GMT
      X-Ms-Server-Encrypted:
      - 'false'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 06 Apr 2018 11:27:19 GMT
[...]
- request:
    method: head
    uri: https://miqazuretest14047.blob.core.windows.net/manageiq/billy1_20401b27-9da4-4276-a390-d59495aea954.vhd
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - ''
      X-Ms-Date:
      - Fri, 06 Apr 2018 11:27:20 GMT
      X-Ms-Version:
      - '2016-05-31'
      Auth-String:
      - 'true'
      Verb:
      - HEAD
      Authorization:
      - SharedKey miqazuretest14047:moTDt7pdMOOcfNbYy4oVIHC4Er3nNIDB6iEQo/3NORs=
  res[...]
[...]
- request:
    method: head
    uri: https://miqazuretest14047.blob.core.windows.net/manageiq/bronagh0316i_4cfc2b66-abbf-45da-8a9f-30746bd55d6d.vhd
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - ''
      X-Ms-Date:
      - Fri, 06 Apr 2018 11:27:21 GMT
      X-Ms-Version:
      - '2016-05-31'
      Auth-String:
      - 'true'
      Verb:
      - HEAD
      Authorization:
      - SharedKey miqazuretest14047:yPLTil0YuA0l0WgC+zyU32PIC7J2I4/4g0dTkTxrRJA=[...]
- request:
    method: head
    uri: https://miqazuretest14047.blob.core.windows.net/manageiq/bronagh316g_2137cec1-a36d-4bbd-a8d3-59d6862c2bb9.vhd
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - ''
      X-Ms-Date:
      - Fri, 06 Apr 2018 11:27:22 GMT
      X-Ms-Version:
      - '2016-05-31'
      Auth-String:
      - 'true'
      Verb:
      - HEAD
      Authorization:
      - SharedKey miqazuretest14047:1g28N5Jdt420zCBqzMJGSBls4+uPVNs9nx3MLtZ8vJY=
[...]
- request:
    method: head
    uri: https://miqazuretest14047.blob.core.windows.net/manageiq/bronagh427_95458494-4446-450d-9a4a-792d14d09717.vhd
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - ''
      X-Ms-Date:
      - Fri, 06 Apr 2018 11:27:22 GMT
      X-Ms-Version:
      - '2016-05-31'
      Auth-String:
      - 'true'
      Verb:
      - HEAD
      Authorization:
      - SharedKey miqazuretest14047:UlAVTlfqtd1wStb0wU+ogMEf4SI+mdi4Q/4Rx5C8iQI=
 [...]
- request:
    method: head
    uri: https://miqazuretest14047.blob.core.windows.net/manageiq/bronaghfip714a_4a63df99-9f73-4b8d-923f-dc06617d660d.vhd
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - ''
      X-Ms-Date:
      - Fri, 06 Apr 2018 11:27:23 GMT
      X-Ms-Version:
      - '2016-05-31'
      Auth-String:
      - 'true'
      Verb:
      - HEAD
      Authorization:
      - SharedKey miqazuretest14047:MRSgwRK2vZNGgxoFZSqAs2V2nkFALcKyUwnIt3a3D4[...]
- request:
    method: head
    uri: https://miqazuretest14047.blob.core.windows.net/manageiq/bronaghnoport_9943a499-b2ec-41e3-9a85-c14494f18cec.vhd
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - ''
      X-Ms-Date:
      - Fri, 06 Apr 2018 11:27:23 GMT
      X-Ms-Version:
      - '2016-05-31'
      Auth-String:
      - 'true'
      Verb:
      - HEAD
      Authorization:
      - SharedKey miqazuretest14047:WCh2aGIGBjX7ahueSecTfJuVb+in2yYK85NZIXwXNG4[...]
- request:
    method: head
    uri: https://miqazuretest14047.blob.core.windows.net/manageiq/bronaghreuseip_c33a6549-cc4d-4e3f-945d-28b6ca0880f0.vhd
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - ''
      X-Ms-Date:
      - Fri, 06 Apr 2018 11:27:27 GMT
      X-Ms-Version:
      - '2016-05-31'
      Auth-String:
      - 'true'
      Verb:
      - HEAD
      Authorization:
      - SharedKey miqazuretest14047:a384CzcpdV21bl3m9GjQ94twPynDsKLij+q0EDtGBk[...]
- request:
    method: head
    uri: https://miqazuretest14047.blob.core.windows.net/manageiq/bronaghrspec3_034c938b-eaa9-4399-8ed2-cb7216fabf0b.vhd
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - ''
      X-Ms-Date:
      - Fri, 06 Apr 2018 11:27:27 GMT
      X-Ms-Version:
      - '2016-05-31'
      Auth-String:
      - 'true'
      Verb:
      - HEAD
      Authorization:
      - SharedKey miqazuretest14047:yIXTVBB5Y0haVrUmiiz0KVFQASdzBv/kD0GfebW9T0E[...]
- request:
    method: head
    uri: https://miqazuretest14047.blob.core.windows.net/manageiq/bronaghtest23_e23609fb-9c7c-413c-9be6-9a0e1c9cdbd7.vhd
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - ''
      X-Ms-Date:
      - Fri, 06 Apr 2018 11:27:28 GMT
      X-Ms-Version:
      - '2016-05-31'
      Auth-String:
      - 'true'
      Verb:
      - HEAD
      Authorization:
      - SharedKey miqazuretest14047:ePNQ9DHhA+Ygfh/PtX5q6XwUwxP0b+SDCHML3Vpylbk[...]
- request:
    method: head
    uri: https://miqazuretest14047.blob.core.windows.net/manageiq/bronaghwiths_73b9a95a-dde1-43b5-8139-2bb0465d391a.vhd
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - ''
      X-Ms-Date:
      - Fri, 06 Apr 2018 11:27:28 GMT
      X-Ms-Version:
      - '2016-05-31'
      Auth-String:
      - 'true'
      Verb:
      - HEAD
      Authorization:
      - SharedKey miqazuretest14047:D4HX/M1cYJq2rayckSnXlDXKJ5wQIy7dKsuTkXE44yw=[...]
- request:
    method: head
    uri: https://miqazuretest14047.blob.core.windows.net/manageiq/bsmetrics_20753af8-5ab8-45af-8545-4ec096985aa4.vhd
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - ''
      X-Ms-Date:
      - Fri, 06 Apr 2018 11:27:29 GMT
      X-Ms-Version:
      - '2016-05-31'
      Auth-String:
      - 'true'
      Verb:
      - HEAD
      Authorization:
      - SharedKey miqazuretest14047:xXZIdqy8gTT6o2WzKSKlaU2pxbr0ZeIePUqgM8ild+g=
  [...]
- request:
    method: head
    uri: https://miqazuretest14047.blob.core.windows.net/manageiq/bweitest_0002_a156be9c-2fbe-41eb-9564-fbcb2553ee33.vhd
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - ''
      X-Ms-Date:
      - Fri, 06 Apr 2018 11:27:29 GMT
      X-Ms-Version:
      - '2016-05-31'
      Auth-String:
      - 'true'
      Verb:
      - HEAD
      Authorization:
      - SharedKey miqazuretest14047:mC1zgAT3QPrf1OusG7RfBjnJWNXxV14A9Nh+64eG2Gk[...]
- request:
    method: head
    uri: https://miqazuretest14047.blob.core.windows.net/manageiq/dberger-delete_a2a5d43f-aa05-4d61-8da8-95086a4d357e.vhd
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - ''
      X-Ms-Date:
      - Fri, 06 Apr 2018 11:27:30 GMT
      X-Ms-Version:
      - '2016-05-31'
      Auth-String:
      - 'true'
      Verb:
      - HEAD
      Authorization:
      - SharedKey miqazuretest14047:ucvrLp3Xmwg5s7ykjnCWCNAAGVmhLFt8BT1gWmkYuv[...]
- request:
    method: head
    uri: https://miqazuretest14047.blob.core.windows.net/manageiq/dberger-deleteme1_eefc1727-019b-4285-a5f8-0869efe8a037.vhd
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - ''
      X-Ms-Date:
      - Fri, 06 Apr 2018 11:27:30 GMT
      X-Ms-Version:
      - '2016-05-31'
      Auth-String:
      - 'true'
      Verb:
      - HEAD
      Authorization:
      - SharedKey miqazuretest14047:kvt/yxy1P1bsSn+nDe+tiHsC6/Lx/1OEa7y8o2H[...]
- request:
    method: head
    uri: https://miqazuretest14047.blob.core.windows.net/manageiq/dbergerprov1_9a78aa4c-d5f6-4d58-b083-90691eda7b64.vhd
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - ''
      X-Ms-Date:
      - Fri, 06 Apr 2018 11:27:31 GMT
      X-Ms-Version:
      - '2016-05-31'
      Auth-String:
      - 'true'
      Verb:
      - HEAD
      Authorization:
      - SharedKey miqazuretest14047:km7rQF8mPxV8IyiB70n4N64zeKHgSuXgtqgGgk/sgU4=[...]
[...]
- request:
    method: head
    uri: https://miqazuretest14047.blob.core.windows.net/manageiq/dbergerx_60873a6e-709e-409f-8048-9dcabc09d467.vhd
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - ''
      X-Ms-Date:
      - Fri, 06 Apr 2018 11:27:31 GMT
      X-Ms-Version:
      - '2016-05-31'
      Auth-String:
      - 'true'
      Verb:
      - HEAD
      Authorization:
      - SharedKey miqazuretest14047:Q5YHHUTQd9KoBM7v3/1Jw9/bYZ+rvYdTLPJFzPj731g=
  r[...]
- request:
    method: head
    uri: https://miqazuretest14047.blob.core.windows.net/manageiq/drew1_5c35f695-b2ae-4d86-937f-fcc6fcbb9fb0.vhd
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - ''
      X-Ms-Date:
      - Fri, 06 Apr 2018 11:27:32 GMT
      X-Ms-Version:
      - '2016-05-31'
      Auth-String:
      - 'true'
      Verb:
      - HEAD
      Authorization:
      - SharedKey miqazuretest14047:vGD4JsJszvLl+tT8mcMCwYIzu2Ew28uNx2fZ8OmjSis=
  resp[...]
- request:
    method: head
    uri: https://miqazuretest14047.blob.core.windows.net/manageiq/jb_win_demo_vm_ad89c080-8b1d-47a2-8a73-ee6d7a53c6cc.vhd
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - ''
      X-Ms-Date:
      - Fri, 06 Apr 2018 11:27:32 GMT
      X-Ms-Version:
      - '2016-05-31'
      Auth-String:
      - 'true'
      Verb:
      - HEAD
      Authorization:
      - SharedKey miqazuretest14047:8WOYMKSK0In6zwUF0wwOgSV4GyOYv3+JEM3gL+A9Jt[...]
- request:
    method: head
    uri: https://miqazuretest14047.blob.core.windows.net/manageiq/lucy_2_eef078a8-9bfe-469e-9340-e0342a4fe3bc.vhd
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - ''
      X-Ms-Date:
      - Fri, 06 Apr 2018 11:27:33 GMT
      X-Ms-Version:
      - '2016-05-31'
      Auth-String:
      - 'true'
      Verb:
      - HEAD
      Authorization:
      - SharedKey miqazuretest14047:whXpDp/atPXunlV+GH9t7DKZOZA2e44qgpJrSJMfwQw=
  res[...]
[...]
- request:
    method: head
    uri: https://miqazuretest14047.blob.core.windows.net/manageiq/sectest2_84ad7b2b-9100-40db-8997-a31912cf27c1.vhd
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - ''
      X-Ms-Date:
      - Fri, 06 Apr 2018 11:27:34 GMT
      X-Ms-Version:
      - '2016-05-31'
      Auth-String:
      - 'true'
      Verb:
      - HEAD
      Authorization:
      - SharedKey miqazuretest14047:fjLZNMvAof7rVO+jUNlTYIb8M7X0RGw/t2AK8v/t8Ms=
  r[...]
- request:
    method: head
    uri: https://miqazuretest14047.blob.core.windows.net/manageiq/test-billy-azure33_a676ca34-c43f-4f58-a96c-30cf0645f6ea.vhd
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - ''
      X-Ms-Date:
      - Fri, 06 Apr 2018 11:27:35 GMT
      X-Ms-Version:
      - '2016-05-31'
      Auth-String:
      - 'true'
      Verb:
      - HEAD
      Authorization:
      - SharedKey miqazuretest14047:lSte9SYXSou5msXAX1TqDO4HGrNvHn3qct5658[...]
[...]
- request:
    method: head
    uri: https://miqazuretest14047.blob.core.windows.net/manageiq/test-billya37_f2f0e962-d3c7-4029-9b2d-14982e667016.vhd
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - ''
      X-Ms-Date:
      - Fri, 06 Apr 2018 11:27:38 GMT
      X-Ms-Version:
      - '2016-05-31'
      Auth-String:
      - 'true'
      Verb:
      - HEAD
      Authorization:
      - SharedKey miqazuretest14047:q3ddlKlruPts7QWw0UHSr1C+mPlEjcIh49vqkNLjpuI[...]
- request:
    method: head
    uri: https://miqazuretest14047.blob.core.windows.net/manageiq/testbillyaaa_953e913d-6625-471f-b6f0-4e9353723c39.vhd
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - ''
      X-Ms-Date:
      - Fri, 06 Apr 2018 11:27:39 GMT
      X-Ms-Version:
      - '2016-05-31'
      Auth-String:
      - 'true'
      Verb:
      - HEAD
      Authorization:
      - SharedKey miqazuretest14047:L5szD0/WYATjFMQfl/j6ErbpSN2DrAMyHdHNp6OvaLQ=[...]
- request:
    method: head
    uri: https://miqazuretest14047.blob.core.windows.net/manageiq/testbillyzzzz_43cfa30e-2d72-49af-a72d-1e764dfbf756.vhd
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - ''
      X-Ms-Date:
      - Fri, 06 Apr 2018 11:27:39 GMT
      X-Ms-Version:
      - '2016-05-31'
      Auth-String:
      - 'true'
      Verb:
      - HEAD
      Authorization:
      - SharedKey miqazuretest14047:NE43ArEkNDlvufgBFA/7XJfpDMOARzAO5mhKeWWjmqc[...]
- request:
    method: get
    uri: https://miqazuretest14047.blob.core.windows.net/system?comp=list&restype=container
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - ''
      X-Ms-Date:
      - Fri, 06 Apr 2018 11:27:39 GMT
      X-Ms-Version:
      - '2016-05-31'
      Auth-String:
      - 'true'
      Authorization:
      - SharedKey miqazuretest14047:PrGSSfNlk54zLjHyljfRoy3+OuC6a6XcF1jts67822U=
  response:
    status:
      code: 200
      message[...]
- request:
    method: head
    uri: https://miqazuretest14047.blob.core.windows.net/system/Microsoft.Compute/Images/miq-test-container/test-win2k12-img-osDisk.e17a95b0-f4fb-4196-93c5-0c8be7d5c536.vhd
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - ''
      X-Ms-Date:
      - Fri, 06 Apr 2018 11:27:40 GMT
      X-Ms-Version:
      - '2016-05-31'
      Auth-String:
      - 'true'
      Verb:
      - HEAD
      Authorization:
      - SharedKey miqazuretest14047:sBlspZlhVTb7f92QWAyTkDFmIK1ko+9Dda97EYxACus=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/octet-stream
      Content-Md5:
      - VbYhW9/6NOXzQVK/vQkdvg==
      Last-Modified:
      - Tue, 22 Mar 2016 17:08:02 GMT
      Etag:
      - '"0x8D35274875B4F91"'
      X-Ms-Version:
      - '2016-05-31'
      X-Ms-Meta-Microsoftazurecompute-Capturedvmkey:
      - "/Subscriptions/AZURE_SUBSCRIPTION_ID/ResourceGroups/MIQ-AZURE-TEST1/VMs/MIQ-TEST-WINIMG"
      X-Ms-Meta-Microsoftazurecompute-Imagetype:
      - OSDisk
      X-Ms-Meta-Microsoftazurecompute-Osstate:
      - Generalized
      X-Ms-Meta-Microsoftazurecompute-Ostype:
      - Windows
      X-Ms-Lease-Status:
      - unlocked
      X-Ms-Lease-State:
      - available
      X-Ms-Blob-Type:
      - PageBlob
      X-Ms-Blob-Sequence-Number:
      - '1'
      X-Ms-Copy-Id:
      - 5e86815c-7940-4fbc-a743-1afe6f82cccc
      X-Ms-Copy-Source:
      - https://miqazuretest14047.blob.core.windows.net/vhds/miq-test-winimg201622210407.vhd?sv=2014-02-14&sr=b&sk=system-1&sig=2HwUe6%2FumcrsmlXMJXoIKLHUa7vHYZesuIsLK3M3gkM%3D&st=2016-03-22T16%3A53%3A01Z&se=2016-03-22T18%3A08%3A01Z&sp=rw
      X-Ms-Copy-Status:
      - success
      X-Ms-Copy-Progress:
      - 136367309312/136367309312
      X-Ms-Copy-Completion-Time:
      - Tue, 22 Mar 2016 17:08:02 GMT
      X-Ms-Server-Encrypted:
      - 'false'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 06 Apr 2018 11:27:40 GMT
[...]
- request:
    method: head
    uri: https://miqazuretest14047.blob.core.windows.net/vhds/miq-test-winimg2016222101643.vhd
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - ''
      X-Ms-Date:
      - Fri, 06 Apr 2018 11:27:41 GMT
      X-Ms-Version:
      - '2016-05-31'
      Auth-String:
      - 'true'
      Verb:
      - HEAD
      Authorization:
      - SharedKey miqazuretest14047:g/Wviy4oZ7x40nI+YwhhFCHGKwr7rdAomK84LdXqkgk=
  response:
    status:
[...]
- request:
    method: post
    uri: https://management.azure.com/subscriptions/AZURE_SUBSCRIPTION_ID/resourceGroups/miq-azure-test1/providers/Microsoft.Storage/storageAccounts/rspeclb/listKeys?api-version=2017-10-01
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6IkZTaW11RnJGTm9DMHNKWEdtdjEzbk5aY2VEYyIsImtpZCI6IkZTaW11RnJGTm9DMHNKWEdtdjEzbk5aY2VEYyJ9.ey[...]
- request:
    method: get
    uri: https://rspeclb.blob.core.windows.net/?comp=list
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - ''
      X-Ms-Date:
      - Fri, 06 Apr 2018 11:27:42 GMT
      X-Ms-Version:
      - '2016-05-31'
      Auth-String:
      - 'true'
      Authorization:
      - SharedKey rspeclb:KUCR6iYdLzDGj2Tj244ezRhH63TSAS0uytkn12YZ+YE=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml
      X-Ms-Version:
      - '2016-05-31'
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        77u/PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPEVudW1lcmF0aW9uUmVzdWx0cyBTZXJ2aWNlRW5kcG9pbnQ9Imh0dHBzOi8vcnNwZWNsYi5ibG9iLmNvcmUud2luZG93cy5uZXQvIj48Q29udGFpbmVycz48Q29udGFpbmVyPjxOYW1lPnZoZHM8L05hbWU+PFByb3BlcnRpZXM+PExhc3QtTW9kaWZpZWQ+RnJpLCAwMiBTZXAgMjAxNiAxNjoyOTo0MSBHTVQ8L0xhc3QtTW9kaWZpZWQ+PEV0YWc+JnF1b3Q7MHg4RDNEMzRFNTcwREZDMEEmcXVvdDs8L0V0YWc+PExlYXNlU3RhdHVzPmxvY2tlZDwvTGVhc2VTdGF0dXM+PExlYXNlU3RhdGU+bGVhc2VkPC9MZWFzZVN0YXRlPjxMZWFzZUR1cmF0aW9uPmluZmluaXRlPC9MZWFzZUR1cmF0aW9uPjwvUHJvcGVydGllcz48L0NvbnRhaW5lcj48L0NvbnRhaW5lcnM+PE5leHRNYXJrZXIvPjwvRW51bWVyYXRpb25SZXN1bHRzPg==
  recorded_at: Fri, 06 Apr 2018 11:27:42 GMT
- request:
    method: get
    uri: https://rspeclb.blob.core.windows.net/vhds?comp=list&restype=container
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - ''
      X-Ms-Date:
      - Fri, 06 Apr 2018 11:27:42 GMT
      X-Ms-Version:
      - '2016-05-31'
      Auth-String:
      - 'true'
      Authorization:
      - SharedKey rspeclb:rJWPaWDCTqyu2lJhigLQAMdrj4we5rWc34MibwuSzhk=
  response:
    status:
      code: 200
      message: OK
    headers:
    [...]
- request:
    method: post
    uri: https://management.azure.com/subscriptions/AZURE_SUBSCRIPTION_ID/resourceGroups/miq-azure-test1/providers/Microsoft.Storage/storageAccounts/spec0deply1stor/listKeys?api-version=2017-10-01
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6IkZTaW11RnJGTm9DMHNKWEdtdjEzbk5aY2VEYyIsImtpZCI6IkZTaW11RnJGTm9DMHNKWEdtdjEzbk5aY2V[...]
- request:
    method: get
    uri: https://spec0deply1stor.blob.core.windows.net/?comp=list
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - ''
      X-Ms-Date:
      - Fri, 06 Apr 2018 11:27:43 GMT
      X-Ms-Version:
      - '2016-05-31'
      Auth-String:
      - 'true'
      Authorization:
      - SharedKey spec0deply1stor:O9noEmnJKati3Ys65E3W1ietxa/TMAJw8t2ggQhnd4c=
  response:
    status:
      code: 200
      message: OK
    headers:
      Cont[...]
- request:
    method: get
    uri: https://spec0deply1stor.blob.core.windows.net/vhds?comp=list&restype=container
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - ''
      X-Ms-Date:
      - Fri, 06 Apr 2018 11:27:44 GMT
      X-Ms-Version:
      - '2016-05-31'
      Auth-String:
      - 'true'
      Authorization:
      - SharedKey spec0deply1stor:d2caL/6kBr5Xseh1TjBW1X2SABoHwsm4UwjdxxVQWXE=
  response:
[...]
